<%- include('partials/header.ejs', { title: "NoteItDown - Home" }) %>
<section id="books">
    <div class="title-container">
        <div class="title-heading">
            <h1>My Book Collection 📚</h1>
        </div>
    </div>
    <div class="sort-buttons">
        <form action="/" method="POST">
            <input type="hidden" name="sort" value="rating">
            <button type="submit">Sort By Rating</button>
        </form>
        <form action="/" method="POST">
            <input type="hidden" name="sort" value="alphabetical">
            <button type="submit">Sort A-Z</button>
        </form>
    </div>
    <div class="book-cards">
        <% books.forEach(function(book) { %>
        <div class="book-card">
            <img src="<%= book.imageurl %>" alt="<%= book.title %>">
            <div class="book-info">
                <h2><%= book.title %></h2>
                <p>Rating: <%= book.rating %>/10</p>
                <form action="/book" method="POST">
                    <!-- Hidden input field to store book.id -->
                    <input type="hidden" name="id" value="<%= book.id %>">
                    <button type="submit" class="view-details">View Details</button>
                </form>
            </div>
        </div>
        <% }) %>
    </div>
</section>
<%- include('partials/footer.ejs') %>
